<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <h5>
      <em>Email sent to <%= @order.email %></em>
      <a href='http://localhost:3000/rails/mailers/invoice_mailer/invoice_mail_preview'>Temporary Email preview link </a>
    </h5>
    <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order_total = 0 %>
        <% @order.line_items.each do |item| %>
          <tr class='row'>
      <td class="col-sm-2">
        <%= image_tag item.product.image.tiny, class: 'main-img' %>
      </td>
      <td class="col-sm-9">
        <strong><%= item.product.name %></strong>
        <br>
        <%= item.product.description %>
      </td>
      <td>
        <%= item.quantity %>
      </td>
      <td>
        <% price = item.item_price_cents.to_f * item.quantity.to_f / 100 %>
        $<%= price %>
        <% @order_total += price %>
      </td>
    </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            $<%= @order_total.round(2) %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
