  <div class="row" style="margin-top:40px;">
    <div class="col-md-6">
      <div class="well well-sm">
        <div class="text-center">
          <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
        </div>
        <div class="row" id="post-review-box" style="display:none;">
          <div class="col-md-12">

          <!-- User adds review here -->
          <%= form_for [@product, @review] do |form| %>

            <!-- Error handling -->
      <!--       <% if form.object.errors.any? %>
              <div class="alert alert-danger">
                <strong>The following errors prevented saving:</strong>
                <ul>
                  <% form.object.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %> -->

            <%= form.label :description %>
            <%= form.text_area :description, size:'50x5', class: 'form-control animated'  %>

            <%= form.number_field :rating %>
            <div style='padding-top: 20px'>
              <%= form.submit 'Send', class: 'btn btn-primary btn-sm pull-right review-submit' %>
              <a class="btn btn-link btn-sm pull-right" href="#" id="close-review-box" style="display:none; margin-right: 10px;">Cancel</a>
            </div>
            <div class="text-right">
              <div class="stars starrr pull-left" data-rating="0"></div>
              <div style='padding-top: 20px'></div>
            </div>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>